<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snkids">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Starry Night★ KIDs"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
        android:name=".SplashActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SplashTheme">
        <intent-filter>
            <action android:name ="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".myConstellationActivity"/>
        <activity android:name=".GalaxiesStoryActivity"/>
        <activity android:name=".QuizActivity"/>
        <activity android:name=".ConstellationStoryActivity"/>

    </application>
</manifest>
