<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snkids">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Starry Night★ KIDs"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".myConstellationActivity" />
        <activity android:name=".GalaxiesStoryActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".ConstellationStoryActivity" />
        <activity android:name=".QuizmainActivity" />
        <activity android:name=".sagittariusActivity"/>
        <activity android:name=".capricornActivity"/>
        <activity android:name=".aquariusActivity"/>
        <activity android:name=".leoActivity"/>
        <activity android:name=".libraActivity"/>
        <activity android:name=".virgoActivity"/>
        <activity android:name=".taurusActivity"/>
        <activity android:name=".ariesActivity"/>
        <activity android:name=".geminiActivity"/>
        <activity android:name=".cancerActivity"/>
        <activity android:name=".piecesActivity"/>
        <activity android:name=".scorpiusActivity"/>
        <activity android:name=".GalaxySunActivity"/>
        <activity android:name=".GalaxyMerActivity"/>
        <activity android:name=".GalaxyVenActivity"/>
        <activity android:name=".GalaxyEarActivity"/>
        <activity android:name=".GalaxyMarActivity"/>
        <activity android:name=".GalaxyJupActivity"/>
        <activity android:name=".GalaxySatActivity"/>
        <activity android:name=".GalaxyUraActivity"/>
        <activity android:name=".GalaxyNepActivity"/>
    </application>

</manifest>